<!DOCTYPE html>
<html>
    <head>
        <title>SIH</title>
        <link rel="stylesheet" href="../static/CSS/style.css">
    </head>
    <body>
    <div class="outer">
        <section class="header">
            <nav>
                <div class="lin">
                    <ul>
                        <li><a href="/"><img src="../static/Dallas_Mavericks_logo.svg.png"></a></li>
                        <li><a href="/hackathon">Hackathons</a></li>
                        <li><a href="#">Internships</a></li>
                        <li><a href="/workshops">Workshops</a></li>
                        <li><a href="#">Conferences</a></li>
                        <li><a href="/profile">Profile</a></li>
                    </ul>
                </div>
            </nav>
        </section>
         <div class="heading">
         <div class="inner_heading">
            <h1>Platform for Everyone</h1>
            <h4>
                Chase the vision!!!
            </h4>
        </div>
        <div class="inner"><img src="../static/logo-2.png" alt="Student" style="width:250px; height: 300px;"></div>
        <marquee width="90%" direction="right" bgcolor="darkgrey" height="20px">Marquee 1</marquee>
        <marquee width="90%" direction="right" bgcolor="green" height="20px">Marquee 2</marquee>


         </div>
    </div>
    </body>
</html>